# Ignore Python compiled files
__pycache__/
*.pyc

# Ignore virtual environment directories
venv/
.env/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store

# Ignore Docker files
docker-compose.override.yml

*.whl
*.pkl